
.idea/compiler.xml

.idea/misc.xml

.idea/modules.xml

.idea/TP2-POD-Peatones.iml

api/api.iml

server/target/classes/log4j.xml

server/target/classes/Server.class

client/target/classes/Client.class

client/target/classes/log4j.xml

.idea/libraries/Maven__com_hazelcast_hazelcast_3_7_8.xml

.idea/libraries/Maven__com_hazelcast_hazelcast_all_3_7_8.xml

.idea/libraries/Maven__com_hazelcast_hazelcast_client_tests_3_7_8.xml

.idea/libraries/Maven__com_hazelcast_hazelcast_tests_3_7_8.xml

.idea/libraries/Maven__log4j_log4j_1_2_17.xml

.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_12.xml

.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_12.xml

.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_12.xml

api/target/classes/entities/Reading.class

api/target/classes/entities/Sensor.class

api/target/classes/entities/Status.class

api/target/classes/utils/FileUtils.class

api/target/classes/utils/FileUtils$ReadingsFields.class

api/target/classes/utils/FileUtils$StatusFields.class

api/target/maven-archiver/pom.properties

api/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst

api/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

api/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst

api/target/tpe2-g13-api-1.0-SNAPSHOT.jar

client/target/classes/sensors.csv

client/target/classes/Utils.class

client/target/classes/Utils$ServerAddress.class

client/target/maven-archiver/pom.properties

client/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst

client/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

client/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst

client/target/tpe2-g13-client-1.0-SNAPSHOT.jar

server/target/maven-archiver/pom.properties

server/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

server/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst

server/target/tpe2-g13-server-1.0-SNAPSHOT.jar

server/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst

server/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst

server/target/tpe2-g13-server-1.0-SNAPSHOT-bin.tar.gz

server/target/tpe2-g13-server-1.0-SNAPSHOT-sources.jar

server/target/tpe2-g13-server-1.0-SNAPSHOT/lib/jars/hazelcast-all-3.7.8.jar

server/target/tpe2-g13-server-1.0-SNAPSHOT/lib/jars/jcl-over-slf4j-1.7.12.jar

server/target/tpe2-g13-server-1.0-SNAPSHOT/lib/jars/log4j-1.2.17.jar

server/target/tpe2-g13-server-1.0-SNAPSHOT/lib/jars/slf4j-api-1.7.12.jar

server/target/tpe2-g13-server-1.0-SNAPSHOT/lib/jars/slf4j-log4j12-1.7.12.jar

server/target/tpe2-g13-server-1.0-SNAPSHOT/lib/jars/tpe2-g13-api-1.0-SNAPSHOT.jar

server/target/tpe2-g13-server-1.0-SNAPSHOT/lib/jars/tpe2-g13-server-1.0-SNAPSHOT.jar

server/target/tpe2-g13-server-1.0-SNAPSHOT/run-server.sh

client/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst

client/target/tpe2-g13-client-1.0-SNAPSHOT-bin.tar.gz

client/target/tpe2-g13-client-1.0-SNAPSHOT-sources.jar

client/target/tpe2-g13-client-1.0-SNAPSHOT/lib/jars/hazelcast-all-3.7.8.jar

client/target/tpe2-g13-client-1.0-SNAPSHOT/lib/jars/jcl-over-slf4j-1.7.12.jar

client/target/tpe2-g13-client-1.0-SNAPSHOT/lib/jars/log4j-1.2.17.jar

client/target/tpe2-g13-client-1.0-SNAPSHOT/lib/jars/slf4j-api-1.7.12.jar

client/target/tpe2-g13-client-1.0-SNAPSHOT/lib/jars/slf4j-log4j12-1.7.12.jar

client/target/tpe2-g13-client-1.0-SNAPSHOT/lib/jars/tpe2-g13-api-1.0-SNAPSHOT.jar

client/target/tpe2-g13-client-1.0-SNAPSHOT/lib/jars/tpe2-g13-client-1.0-SNAPSHOT.jar

client/target/tpe2-g13-client-1.0-SNAPSHOT/query1.sh

api/target/tpe2-g13-api-1.0-SNAPSHOT-sources.jar
